/* [Start] css reset */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}
/* [End] css reset */

body {
  font-family: "myriad-pro", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

@media (min-width: 1200px){
  body {
    font-size: 18px;
  }
}

a {
  color: #cc5831;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

a:hover,
a:focus {
  color: #000000;
  text-decoration: underline;
}

.story-template {
  display: flex;
  flex-direction: column;
}

.story-template__hero {
  width: 100vw;
  background-color: gray;
  margin: 0 auto 30px;
}

@media (min-width: 600px) and (max-width: 767px){
  .story-template__hero {
    height: 80vh;
}
}

@media (min-width: 768px){
  .story-template__hero {
    width: 100%;
  }
}

@media (min-width: 1200px){
  .story-template__hero {
    width: 100vw;
    height:70vh;
  }
}

.story-template__hero__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.story-template__hero-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.story-template__hero p {
  font-size: 74px;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.story-template__story {
  display: flex;
  flex-direction: column;
  margin: 0 auto 30px;
  max-width: 1200px;
}

.story-template__image-wrapper {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.image__float-right {
  float: right;
  margin-left: 20px;
  height: 350px;
  padding-top: 20px;
}

.image__float-left {
  float: left;
  margin-right: 20px;
  height: 350px;
  padding-top: 20px;
}

.headshot {
  float: none;
  max-height: 100vh;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .headshot {
    float: left;
    padding: 0 15px 15px 0;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .headshot {
    float: left;
    padding: 15px 30px 15px 0;
    margin: 0;
  }
}

.headshot-caption {
  caption-side: bottom;
  line-height: 1.35em;
  font-size: 0.95em;
  color: #616161;
  width: 100%;
  text-align: center;
}

@media (min-width: 900px) {
  .headshot-caption {
    text-align: left;
  }
}

.story-template__image{
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-color: gray;
}

.story-template__pull-quote {
  max-width: 600px;
  height: auto;
  margin: 0 auto 30px;
}

.story-template__pull-quote__copy {
  height: 80%;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  font-size: 2.5em;
  line-height: 1.25em;
  padding: 30px 0 15px;
}

.story-template__pull-quote__divider {
  border-bottom: 1px #c7531e solid;
}

.story-template__pull-quote__source {
  text-align: center;
  font-weight: 800;
  padding-top: 15px;
}

.story-template__copy {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
}

.story-template__copy p {
  padding: 10px 0;
}

.story-template__subtitle {
  font-size: 1.75em;
  padding-bottom: 30px;
  font-weight: 400;
  line-height: 1.25em;
}

.story-template__headline {
  color: #1f7f9b;
  font-size: 1.75em;
  font-weight: 600;
  line-height: 1.25em;
  padding-bottom: 15px;
}
@media (min-width: 600px) {
  .story-template__headline {
    font-size: 2em;
  }
}
@media (min-width: 1200px) {
  .story-template__headline {
    font-size: 2.25em;
  }
}

.story-template__quote {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  flex: 0 0 100%;
  height: 50vh;
  max-width: 1200px;
  width: 100%;
  padding: 120px 0;
}
@media (min-width: 600px) {
  .story-template__quote {
    flex-direction: row;
    margin: 0 auto;
  }
}
.story-template__quote__column {
  display: flex;
  flex-direction: row;
  width: 50%;
}
@media (min-width: 600px) {
  .story-template__quote__column {
    width: 100%;
    max-width: 720px;
  }
}
.story-template__quote__column-left {
  width: 100%;
}
.story-template__quote__column-right {
  width: 100%;
  height: 300px;
}

.story-template__quote__copy {
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 0 auto;
  width: 90%;
}
@media (min-width: 600px) {
  .story-template__quote__copy {
    padding-left: 30%;
    padding-right: 30px;
  }
}
@media (min-width: 1200px) {
  .story-template__quote__copy {
    padding-left: 50%;
    padding-right: 30px;
  }
}

.story-template__quote__callout-sidebar {
  font-size: 70px;
  color: white;
  text-align: center;
  background-color: gray;
  width: 90%;
  margin: 20px auto;
}
@media (min-width: 600px) {
  .story-template__quote__callout-sidebar {
    width: 80%;
    float: left;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .story-template__quote__callout-sidebar {
    width: 50%;
    float: left;
    margin: 0;
  }
}

.story-template__image-w-caption {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto 30px;
  width: 100%;
}
@media (min-width: 900px) {
  .story-template__image-w-caption {
  width: 70%;
}
}

.story-template__image-w-caption__image {
  margin: 0 auto;
}

.story-template__image-w-caption__image p {
  font-size: 23px;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.story-template__image-w-caption__image img {
  width: 100%;
}

.story-template__image-w-caption__caption {
  caption-side: bottom;
  line-height: 1.35em;
  font-size: 0.95em;
  color: #616161;
  width: 100%;
  text-align: center;
}

@media (min-width: 900px) {
  .story-template__image-w-caption__caption {
    text-align: left;
  }
}

.story-template__image-w-caption__copy {
  padding: 60px 0 0;
  margin: 0 auto;
  width: 90%;
}
@media (min-width: 600px) {
  .story-template__image-w-caption__copy {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .story-template__image-w-caption__copy {
    width: 70%;
  }
}

.story-template__image-w-quote__container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex: 0 1 100%;
  max-width: 1200px;
  width: 100%;
  padding: 120px 0 0;
}
.story-template__image-w-quote__column {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .story-template__image-w-quote__column {
    width: 100%;
  }
}
.story-template__image-w-quote__column-left {
  width: 100%;
}
.story-template__image-w-quote__column-right {
  width: 100%;
}

.story-template__image-w-quote__image {
  width: 450px;
  height: 450px;
  margin: 0 auto;
}

.story-template__image-w-quote__quote {
  font-size: 36px;
  max-width: 1200px;
  width: 60%;
  margin: 0 auto;
  padding-top: 120px;
}



/* Slideshow container */
.story-template__image-slider__container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  height: 600px;
  background-color: #bbb;
}

/* Hide the images by default */
.story-template__image-slider__slide {
  display: none;
}

/* Next & previous buttons */
.story-template__image-slider__prev, .story-template__image-slider__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.story-template__image-slider__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.story-template__image-slider__prev:hover, .story-template__image-slider__next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.story-template__image-slider__text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.story-template__image-slider__index {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.story-template__image-slider__dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .story-template__image-slider__dot:hover {
  background-color: #717171;
}

/* Text Colors */
.lightblue{
  color: #05c3de;
}

.mainblue{
  color: #1f7f9b;
}

.rust{
  color: #c7531e;
}

/*screenreader only*/
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}