/* [Start] css reset */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}
/* [End] css reset */

html {
  scroll-behavior: smooth;
}

body { 
  overflow-x: hidden;
  font-family: myriad-pro,myriad,sans-serif;
}

/* for qoute backgrounds */
svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media(max-width: 599px) {
  .line-break__desktop-only {
    display: none;
  }
}

.street-health__captions--mobile {
  display: none;
}
/* captions for mobile */
@media(max-width: 899px) {
  .street-health__captions--mobile {
    width: 90%;
    margin: 0 auto;
    padding: 15px  0 0;
    /* display: none; */
  }
}
/* set z-index for sections */
.street-health__section__block-one,
.street-health__section__block-two,
.street-health__section__block-three {
  z-index: 3;
}

.street-health__background-image--one,
.street-health__background-image--two,
.street-health__background-image--three {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

@media(max-width: 899px) {
  .street-health__background-image--one,
  .street-health__background-image--two,
  .street-health__background-image--three {
    min-height: 200px !important;
    height: auto;
  }
}

.street-health__background-image--one {
  background-image: url(../12.3/assets/street-health/Lusher_200125_0323@2x.jpg);
  min-height: 90vh;
  padding-top: 30%;
}

.street-health__background-image--two {
  background-image: url(../12.3/assets/street-health/Lusher_200125_0496@2x.jpg);
  min-height: 90vh;
}

.street-health__background-image--three {
  background-image: url(../12.3/assets/street-health/Lusher_200125_0873@2x.jpg);
  min-height: 90vh;
}

@media(max-width: 899px) {
  .street-health__background-image__caption {
    position: relative !important;
    display: none;
  }
}

@media(min-width: 900px) {
  .street-health__background-image__caption {
    display: block;
    color: white;
    text-align: right;
    font-size: 20px;
    padding-bottom: 100px;
    position: fixed;
    top: 75%;
    z-index: 0;
    right: 10%;
    max-width: 600px;
    display: block;
  }
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .street-health__background-image--one,
  .street-health__background-image--two,
  .street-health__background-image--three {
    background-attachment: scroll;
  }
}

.street-health__hero {
  height: 40vh;
  width: 100vw;
  padding-top: 50px;
}

@media(min-width: 900px) {
  .street-health__hero {
    height: 90vh;
  }
}

.street-health__hero-video {
  background-image: url(../12.3/assets/street-health/video-still-hero@2x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.street-health__intro {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(248, 248, 248, .95)), url(../12.3/assets/street-health/map-bg-white.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.street-health__intro__title,
.street-health__intro__subtitle,
.street-health__intro__copy {
  max-width: 1440px;
  margin: 0 auto;
  width: 90%;
  /* text-align: center; */
  padding-top: 30px;
}

@media(min-width: 900px) {
  .street-health__intro__subtitle {
    font-size: 40px;
    width: 80% !important;
  }
}

@media(max-width: 899px) {
  .street-health__intro__subtitle {
    text-align: center;
    font-size: 22px;
  }
}

@media(min-width: 900px) {
  .street-health__intro__title,
  .street-health__intro__subtitle,
  .street-health__intro__copy {
    width: 100%; 
    padding-top: 0;
  }
}

.street-health__first-letter {
  color: #cc6434;
  float: left;
  font-size: 83px;
  line-height: 73px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  padding-bottom: 0px;
  
  width: auto;
  margin: 0px 20px 0 0;
}

@media(min-width: 900px) {
  .street-health__first-letter {
    font-size: 176px;
    line-height: 116px;
    padding-bottom: 37px;
    border-bottom: 2px solid gray;
  }
}
.street-health__intro__title {
  font-size: 32px;
  color: #cc6434;
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

@media(min-width: 900px) {
  .street-health__intro__title {
    font-size: 120px !important;
    padding-top: 150px 0 80px;
  }
}

/* .street-health__intro__subtitle {
  font-size: 32px;
  width: 100%;
} */

.street-health__intro__p, .street-health__qoute-section__p {
  padding: 10px 0;
  font-size: 16px;
  width: 90%;
  margin: 0 auto;
}

@media(min-width: 900px) {
  .street-health__intro__p, .street-health__qoute-section__p {
    font-size: 22px;
    width: 100%;
    margin: 0;
  }
}
.street-health__intro__copy, 
.street-health__qoute-section__copy {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 0;
  width: 90%;
}

@media(min-width: 900px) {
  .street-health__intro__copy, 
.street-health__qoute-section__copy {
  padding: 100px 0;
  width: 80%;
}
}

.street-health__section__block-two {
  background-color: white;
  height: auto;
}

.street-health__qoute {
  background-color: #cc6434;
  height: auto;
  width: 100vw;
  /* background-image: url(../12.3/assets/street-health/map-bg-rust.svg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
}

@media(min-width: 900px) {
  .street-health__qoute {
    height: 500px;
    background-image: url(../12.3/assets/street-health/map-bg-rust.svg);
  }
}

.street-health__qoute__container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  padding: 30px 0;
}

@media(min-width: 1800px) {
  .street-health__qoute__container {
    width: 50%;
    padding: 0;
  }
}

.street-health__qoute__image-wrapper {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

@media(min-width: 900px) {
  .street-health__qoute__image-wrapper {
    height: 400px;
    width: 400px;
  }
}

.street-health__qoute__image {
  height: 100%;
}

.street-health__qoute__copy {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-self: center;
  font-size: 50px;
  color: white;
  width: 100%;
  margin-top: 20px;
}

@media(min-width: 900px) {
  .street-health__qoute__copy {
    width: 45%;
    margin-top: 0;
  }
}

.street-health__qoute__text {
  font-size: 20px;
  font-weight: 500;
}

@media(min-width: 900px) {
  .street-health__qoute__text {
    font-size: 35px;
  }
}

.street-health__qoute__divider {
  border-bottom: solid 3px white;
  width: 90%;
  margin: 0 auto;
  padding-top: 30px;
}

@media(min-width: 900px) {
  .street-health__qoute__divider {
    width: 350px;
  }
}

.street-health__qoute__source {
  font-size: 18px;
  font-weight: 200;
  padding-top: 20px;
}

@media(min-width: 900px) {
  .street-health__qoute__source {
    font-size: 30px;
  }
}

.landing-page__more-stories__carousel__labels {
  width: auto;
  position: relative;
  top: 30%;
  margin: 0 auto;
  text-align: center;
  animation: 1s fadeIn;
}

.landing-page__more-stories__carousel__label__category {
  font-size: 32px;
  color: #cc6434;
  border-bottom: 2px solid lightgray;
  padding-top: 40px;
  padding-bottom: 10px;
}

@media (min-width: 900px) {
  .landing-page__more-stories__carousel__label__category {
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 52px;
  }
}

.landing-page__more-stories__carousel__label__title {
  font-size: 49px;
  padding-top: 20px;
  color: #1f7f9b;
  transition: 0.5s ease;
}

@media (min-width: 900px) {
  .landing-page__more-stories__carousel__label__title {
    margin-top: -60px;
    padding-top: 0;
  }
}

.landing-page__more-stories__carousel__label__title:hover {
  color: #cc6434;
  /* border-bottom: 2px solid #cc6434; */
}

/*! For Carousel - make less hacky */

#slider {
  /* position: relative; */
  width: 200px;
  height: 300px;
  margin: 50px auto;
  font-family: "Helvetica Neue", sans-serif;
  perspective: 900px;
  transform-style: preserve-3d;
}

@media (min-width: 900px) {
  #slider {
    position: relative;
    width: 700px;
    height: 900px;
    margin: 75px auto 90px;
    perspective: 1440px;
  }
}

#slider img {
  width: 100%;
  height: auto;
}

input[type="radio"] {
  position: relative;
  top: 1108%;
  left: 64%;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
  display: none;
}

input[type="radio"]:nth-child(5) {
  margin-right: 0px;
}

input[type="radio"]:checked {
  opacity: 1;
}

#slider label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#slide1 {
  /* background: tomato; */
}

#slide2 {
  /* background: yellowgreen; */
}

#slide3 {
  /* background: dodgerblue; */
}

/* #slide4 {
  background: slateblue;
}

#slide5 {
  background: violet;
} */

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 90px 90px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
  z-index: 5;
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 90px 90px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(75%, 0, -400px);
}

/* show slide 3 on the left of 1 when 1 is active */
#s1:checked ~ #slide3 {
  box-shadow: 0 90px 90px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-75%, 0, -400px);
}

/* Next to Next Slide */
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(30%, 0, -450px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 90px 90px rgba(0, 0, 0, 0.4);
  transform: translate3d(75%, 0, -450px);
}

/* Previous Slide */
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 90px 90px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-75%, 0, -400px);
}

/* second carousel */
/*! For Carousel - make less hacky */

#slider2 {
  /* position: relative; */
  width: 200px;
  height: 300px;
  margin: 50px auto;
  font-family: "Helvetica Neue", sans-serif;
  perspective: 900px;
  transform-style: preserve-3d;
}

@media (min-width: 900px) {
  #slider2 {
    position: relative;
    width: 700px;
    height: 900px;
    margin: 75px auto 90px;
    perspective: 1440px;
  }
}

#slider2 img {
  width: 100%;
  height: auto;
}

input[type="radio"] {
  position: relative;
  top: 1108%;
  left: 64%;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
  display: none;
}

input[type="radio"]:nth-child(5) {
  margin-right: 0px;
}

input[type="radio"]:checked {
  opacity: 1;
}

#slider2 label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

#slide1_2 {
  /* background: tomato; */
}

#slide2_2 {
  /* background: yellowgreen; */
}

#slide3_2 {
  /* background: dodgerblue; */
}

/* #slide4 {
  background: slateblue;
}

#slide5 {
  background: violet;
} */

/* Active Slide */
#s1_2:checked ~ #slide1_2,
#s2_2:checked ~ #slide2_2,
#s3_2:checked ~ #slide3_2,
#s4_2:checked ~ #slide4_2,
#s5_2:checked ~ #slide5_2 {
  box-shadow: 0 90px 90px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
  z-index: 5;
}

/* Next Slide */
#s1_2:checked ~ #slide2_2,
#s2_2:checked ~ #slide3_2,
#s3_2:checked ~ #slide4_2,
#s4_2:checked ~ #slide5_2,
#s5_2:checked ~ #slide1_2 {
  box-shadow: 0 90px 90px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(75%, 0, -400px);
}

/* show slide 3 on the left of 1 when 1 is active */
#s1_2:checked ~ #slide3_2 {
  box-shadow: 0 90px 90px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-75%, 0, -400px);
}

/* Next to Next Slide */
#s2_2:checked ~ #slide4_2,
#s3_2:checked ~ #slide5_2,
#s4_2:checked ~ #slide1_2,
#s5_2:checked ~ #slide2_2 {
  box-shadow: 0 90px 90px rgba(0, 0, 0, 0.4);
  transform: translate3d(30%, 0, -450px);
}

/* Previous to Previous Slide */
#s1_2:checked ~ #slide4_2,
#s2_2:checked ~ #slide5_2,
#s3_2:checked ~ #slide1_2,
#s4_2:checked ~ #slide2_2,
#s5_2:checked ~ #slide3_2 {
  box-shadow: 0 90px 90px rgba(0, 0, 0, 0.4);
  transform: translate3d(75%, 0, -450px);
}

/* Previous Slide */
#s1_2:checked ~ #slide5_2,
#s2_2:checked ~ #slide1_2,
#s3_2:checked ~ #slide2_2,
#s4_2:checked ~ #slide3_2,
#s5_2:checked ~ #slide4_2 {
  box-shadow: 0 90px 90px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-75%, 0, -400px);
}
