.dr-lieb__question {
  font-weight: bold;
  margin-bottom: -10px;
}
.dr-lieb__hero-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  max-height: 80vh;
}

.dr-lieb__hero-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.dr-lieb__hero__image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.dr-lieb__content {
  margin: 60px auto 0;
}

.dr-lieb__copy {
  max-width: 1440px;
  margin: 0 auto;
  width: 80%;
}

.dr-lieb__p {
  padding: 0 0 30px;
  font-size: 18px;
  line-height: 25px;
}

.dr-lieb__intro {
  padding-top: 60px;
}

.dr-lieb__title {
  max-width: 1200px;
  margin: 0 auto;
  width: 80%;
  font-family: "captain-comic", sans-serif;
  font-style: italic;
  color: #000;
}

@media(min-width: 900px) {
  .dr-lieb__subtitle {
    padding: 20px 0 60px;
  }
}

.dr-lieb__pull-qoute {
  display: flex;
  height: min-content;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  padding: 60px 0;
}

/* for second graphic - mobile only */
@media(max-width: 899px) {
  .dr-lieb__pull-qoute {
    flex-wrap: wrap;
  }

  .dr-lieb__pull-qoute__image--vertical {
    height: 500px;
     width: 300px;
     object-fit: cover;
  }
}

.dr-lieb__pull-qoute---vertical {
  flex-direction: column;
  /* width: 700px;
  margin: 0 auto; */
}

.dr-lieb__pull-qoute__image-wrapper {
  height: auto;
  width: 100%;
}

.dr-lieb__pull-qoute__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media(min-width: 900px) {
  .dr-lieb__pull-qoute__image--vertical {
    height: 700px;
    width: 500px;
  }
}

.dr-lieb__pull-qoute__image--horizontal {
  /* width: 700px; */
  height: auto;  
width: 100%;
margin: 0 auto;
display: flex;
}

@media(min-width: 900px) {
  .dr-lieb__pull-qoute__image--horizontal {
    height: 604px;
    width: 900px;
  }
}

.dr-lieb__graphic-caption {
  display: flex;
  
}

.dr-lieb__graphic-caption--horizontal {
  flex-direction: column;
  height: auto;
  /* width: 40%; */
}

@media(min-width: 900px) {
  .dr-lieb__graphic-caption--horizontal {
    flex-direction: row;
    height: 300px;
  }
}

.dr-lieb__graphic-caption--vertical {
  flex-direction: column;
  width: 90%;
  height: auto;
}

@media(min-width: 900px) {
  .dr-lieb__graphic-caption--vertical {
    width: 40%;
  }
}
.dr-lieb__graphic-caption__graphic {
  height: 150px;
  /* min-width: 600px; */
  position: relative;
  z-index: 5;
}

@media(max-width: 899px) {
  .dr-lieb__graphic-caption__graphic--horizontal {
    position: relative;
    top: -25px;
  }
}

.dr-lieb__graphic-caption__caption--one {
  width: 90%;
  font-size: 18px;
  line-height: 22px;
  /* text-align: center; */
}

@media(min-width: 900px) {
  .dr-lieb__graphic-caption__caption--one {
    width: 60%;
    text-align: left;
  }
}



@media(min-width: 900px) {
  .dr-lieb__graphic-caption__graphic {
    height: 400px;
    min-width: 600px;
  }

  .dr-lieb__graphic-caption__graphic--horizontal {
    top: -100px;
    left: 90px;
  }

  .dr-lieb__graphic-caption__caption--one {
    width: 40%;
  }
}

.dr-lieb__graphic-caption__graphic--vertical {
  top: -30px;
}

@media(min-width: 900px) {
  .dr-lieb__graphic-caption__graphic--vertical {
    right: 200px;
  }
}

.dr-lieb__graphic-caption__caption {
  font-size: 18px;
line-height: 22px;
  display: flex;
  justify-self: center;
  margin: 0 auto;
}

@media(min-width: 900px) {
  .dr-lieb__graphic-caption__caption {
    font-size: 32px;
  line-height: 42px;
  padding-left: 30px;
  margin: 0;
  }
}
