/* [Start] css reset */
html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}
/* [End] css reset */


.cultural-fair__hero-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.cultural-fair__hero-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.cultural-fair__title-asset__wrapper {
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

@media(min-width: 900px) {
  .cultural-fair__title-asset__wrapper {
    width: 100%;
  }
}

.cultural-fair__title-asset--top {
  padding: 50px 0 0;
}

.cultural-fair__title-asset--bottom {
  padding: 0 0 50px;
}

.cultural-fair__title {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 4em;
  color: #c7531e;
  padding: 30px 0;
  font-family: "Overlock", cursive;
  font-weight: 900;
  width: 80%;
  line-height: 1.25em;
}

@media(min-width: 900px) {
  .cultural-fair__title {
    font-size: 4.5em;
  }
}

.cultural-fair__copy {
  max-width: 1440px;
  margin: 0 auto;
  width: 80%;
  margin: 0 auto;
}

.cultural-fair__qoute-image {
  max-width: 90vw;
  width: 90%;
  margin: 0 auto;
}

.cultural-fair__quote-image__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: auto;
}

.cultural-fair__quote-image__quote {
  width: 35%;
  text-align: right;
  display: flex;
  justify-self: right;
  align-self: center;
  font-family: "Overlock", cursive;
  font-weight: 900;
}
.cultural-fair__wrapper {
  display: flex;
  flex-direction: column;
}
.cultural-fair__quote-image__source {
  font-weight: 300;
  height: 10px;
}

.cultural-fair__quote-image__image-wrapper {
  width: 50%;
}


.cultural-fair__quote-image__image {
  display: flex;
  justify-self: center;
  align-self: center;
  background-color: gray;
}

.cultural-fair__divider--orange, .cultural-fair__divider--blue {
  background-size: cover;
  min-height: 50px;
  width: 100vw;
  margin: 50px 0;
}

@media(min-width: 900px) {
  .cultural-fair__divider--orange {
    min-height: 200px;
    margin: 50px 0 90px;
  }
}

  .cultural-fair__divider--blue {
    min-height: 50px;
    margin: 30px 0 90px;
  }
 
  @media(min-width: 900px) {
  .cultural-fair__divider--blue {
    min-height: 150px;
    margin: 50px 0 100px;
  }
}

.cultural-fair__divider--orange {
  background-image: url(../12.3/assets/cultural-fair/Asset\ 6.svg);
}

.cultural-fair__divider--blue {
  background-image: url(../12.3/assets/cultural-fair/Asset\ 7.svg);
}

.cultural-fair__image-wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
}

.cultural-fair__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cultural-fair__image-caption {
  padding-bottom: 50px;
  width: 90%;
  margin: 0 auto;
}

@media(min-width: 900px) {
  .cultural-fair__image-caption {
    width: 100%;
  }
}

@media(min-width: 900px) {
  .cultural-fair__image-caption {
    width: 100%;
  }
}

.cultural-fair__pull-quote__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px 0;
}

.cultural-fair__pull-quote__asset {
  height: 90px;
  width: 70%;
  margin: 0 auto;
  background-image: url(../12.3/assets/cultural-fair/Asset\ 5.svg);
  background-repeat: no-repeat;
}

@media(min-width: 600px) {
  .cultural-fair__pull-quote__asset {
    width: 30%;
    height: 160px;
  }
}

.cultural-fail__pull-quote__quote {
  font-family:"Overlock", cursive;
  font-size:1.75em;
  font-weight: 900;
  width: 90%;
  margin: 0 auto;
  color: #c7531e;
  line-height: 1.25em;
}

@media(min-width: 900px) {
  .cultural-fail__pull-quote__quote {
    font-size:2.5em;
    width: 60%;
  }
}

.cultural-fair__pull-quote__source {
  padding: 10px 0 0;
  color: gray;
}

.cultural-fair__intro-quote {
  max-width: 1440px;
  margin: 0 auto;
}

@media(min-width: 900px) {
  .cultural-fair__intro-quote {
    padding: 50px 0;
  }
}

.cultural-fair__intro-quote__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

@media(min-width: 900px) {
  .cultural-fair__intro-quote__wrapper {
    flex-wrap: nowrap;
    width: 90%;
    margin: 0 auto;
  }
}

.cultural-fair__intro-quote__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  height: auto;
  margin: 0 auto;
}

@media(min-width: 900px) {
  .cultural-fair__intro-quote__container {
    width: 80%;
    margin: 0;
  }
}

.cultural-fair__intro-quote__asset {
  background-image: url(../12.3/assets/cultural-fair/Asset\ 4.svg);
  background-repeat: no-repeat;
  height: 50px;
  width: 50%;
  margin: 0 auto;
}

@media(min-width: 900px) {
  .cultural-fair__intro-quote__asset {
    margin: 0 auto 30px;
  }
}


.cultural-fair__intro-quote__quote {
  text-align: center;
  display: flex;
  justify-self: right;
  align-self: center;
  color: #c7531e;
  padding-right: 0;
  margin: 0 auto 30px;
  font-size: 1.5em;
  font-weight: 900;
  font-family: "Overlock", cursive;
  line-height: 1.5em;
}

@media(min-width: 900px) {
  .cultural-fair__intro-quote__quote {
    text-align: right;
    padding-right: 60px;
    width: 80%;
    align-self: end;
  }
}

.cultural-fair__intro-quote__image {
  object-fit: cover;
  height: auto;
  width: 100%;
  margin: 0 auto;
  display: flex;
}