/* [Start] css reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}
/* [End] css reset */

body {
  font-family: myriad-pro, myriad, sans-serif;
  overflow-x: hidden;
  font-size: 16px;
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

a {
  text-decoration: none;
}

/* .landing-page {
  margin-top: 50px;
} */

.site__header .container {
  position: relative;
  z-index: 10;
}

.landing-page__section {
  width: 100vw;
}

.landing-page__hero {
  min-height: 30vh;
  position: relative;
  overflow: hidden;
}

@media (min-width: 600px) {
  .landing-page__hero {
    min-height: 70vh;
    top: 0px;
  }
}

@media (min-width: 600px) and (orientation: portrait) {
  .landing-page__hero {
    min-height: 30vh;
  }
}

@media (min-width: 900px) {
  .landing-page__hero {
    min-height: 70vh;
    top: -50px;
  }
}
@media (min-width: 1200px) {
  .landing-page__hero {
    top: 0px;
  }
}

.landing-page__hero__video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media (min-width: 900px) {
  .landing-page__hero__video {
    min-height: 80vh;
  }
}

@media (min-width: 1200px) {
  .landing-page__hero__video {
    min-height: 85vh;
  }
}

.landing-page__president-cta {
  background-color: #cc6434;
  height: 50px;
  width: 100%;
  position: relative;
  z-index: 1;
  transition: 0.5s all;
  transform: scale(1);
  top: 50px;
}

@media(min-width: 600px) and (orientation: landscape) {
  .landing-page__president-cta {
    top: 57px !important;
  }
}
@media(min-width: 600px) {
  .landing-page__president-cta {
    top: 85px;
  }
}

@media(min-width: 900px) and (orientation: landscape) {
  .landing-page__president-cta {
    top: 111px !important;
  }
}

@media (min-width: 900px) {
  .landing-page__president-cta {
    height: 150px;
    width: 150px;
    position: absolute;
    z-index: 8;
    transition: 0.5s all;
    right: 30px;
    transform: scale(1);
    top: 60px;
    background-color: transparent;
  }
}

@media (min-width: 900px) {
  .landing-page__president-cta:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.president-cta__label {
  position: relative;
  z-index: 15;
  width: 100%;
  text-align: center;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 900px) {
  .president-cta__label {
    position: relative;
    z-index: 15;
    top: 45px;
    width: auto;
    text-align: center;
    color: white;
  }
}

.landing-page__president-cta__point {
  height: 100px;
  width: 100%;
  position: relative;
  top: 25px;
}

.president-cta__image {
  display: none;
}
@media (min-width: 900px) {
  .president-cta__image {
    display: block;
  }
}

.landing-page__hero__container {
  width: 100%;
  position: relative;
}

@media (min-width: 900px) {
  .landing-page__hero__container {
    z-index: 10;
    position: relative;
    bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .landing-page__hero__container {
    bottom: 0px;
  }
}

.landing-page__president-cta__title {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding-top: 20px;
}

.landing-page__president-cta__title:hover {
  color: white;
  text-decoration: underline;
}

.landing-page__hero-banner {
  color: #000;
  position: relative;
  padding: 20px 0 30px;
  text-align: center;
}

@media (min-width: 900px) {
  .landing-page__hero-banner {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    position: absolute;
    z-index: 10;
    width: 100%;
    bottom: 10px;
    padding: 10px 0 30px;
  }
}

@media (min-width: 1200px) {
  .landing-page__hero-banner {
    bottom: 0px;
  }
}

.landing-page__hero-banner__title {
  font-size: 2em;
  max-width: 90%;
  line-height: 1em;
  margin: 0 auto;
  padding-bottom: 30px;
  font-family: "DM Serif Display", serif;
}

@media(min-width: 600px) and (orientation: landscape) {
  .landing-page__hero-banner__title {
    font-size: 1.5em !important;
  }
}
@media (min-width: 900px) {
  .landing-page__hero-banner__title {
    font-size: 2.5em;
    max-width: 55%;
    line-height: 1.25em;
  }
}

@media (min-width: 1200px) {
  .landing-page__hero-banner__title {
    font-size: 4em;
    max-width: 50%;
  }
}

.landing-page__hero-banner__cta {
  background-color: #000;
  border: solid 2px #000;
  padding: 10px 30px;
  font-size: 1em;
  color: white;
}

@media (min-width: 900px) {
  .landing-page__hero-banner__cta {
    background-color: inherit;
    border: solid 2px white;
    padding: 10px 40px;
    font-size: 1.25em;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
  }
}

.landing-page__hero-banner__cta:hover {
  color: #000 !important;
  text-decoration: underline;
  font-size: 1.25em;
  background-color: #fff;
}

a {
  transition: all 0.5s;
}
a:hover {
  color: #cc6434;
}

.landing-page__placeholder-text {
  font-size: 90px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

.landing-page__in-this-issue {
  height: 100%;
}

.landing-page__in-this-issue__container {
  max-width: 1440px;
  margin: 0 auto;
}

.landing-page__content-blocks {
  height: 100%;
  padding: 95px 0 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
}

.landing-page__content-block {
  height: min-content;
  width: 100%;
}

.landing-block__content-block__category {
  text-align: center;
  padding: 30px 0 10px;
  font-size: 24px;
  border-bottom: 2px lightgray solid;
  width: min-content;
  margin: 0 auto;
  color: #cc6434;
}

@media (min-width: 900px) {
  .landing-block__content-block__category {
    font-size: 42px;
  }
}

@media (min-width: 900px) {
  .landing-page__content-block {
    width: 50%;
  }
}

.landing-page__content-block__title {
  text-align: center;
}

.landing-page__content-block__link {
  display: block;
  width: 90%;
  margin: 30px auto 0;
  text-align: center;
  color: #1f7f9b;
}

.landing-page__content-block__image-wrapper {
  height: 400px;
  width: 95%;
  margin: 0 auto;
  background-color: gray;
}

.landing-page__in-this-issue__match-day {
  width: 100%;
  padding: 160px 0;
  text-align: center;
}

.landing-page__in-this-issue__match-day__container {
  height: 800px;
  background-color: pink;
}

.landing-page__callout {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  padding-top: 30px;
}

@media (min-width: 900px) {
  .landing-page__callout {
    padding-top: 15px;
    font-size: 1.5em;
  }
}

@media (min-width: 1200px) {
  .landing-page__callout {
    padding-top: 60px;
  }
}

.landing-page__callout p::before {
  background: #cc6434;
  bottom: 0;
  content: " ";
  left: 0;
  right: 0;
  position: absolute;
  height: 2px;
  margin: 0 auto;
  width: 150px;
}
@media (min-width: 900px) {
  .landing-page__callout p::before {
    width: 250px;
  }
}

.landing-page__callout p {
  padding-bottom: 5px;
}

.landing-page__callout p::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #cc6434;
  bottom: -8px;
  content: " ";
  height: 0;
  left: 50%;
  position: absolute;
}

.landing-page__more-stories {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
@media (min-width: 900px) {
  .landing-page__more-stories {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
  }
}

.landing-page__more-stories__carousel__labels {
  width: auto;
  position: relative;
  top: 30%;
  margin: 0 auto;
  text-align: center;
  animation: 1s fadeIn;
}

.landing-page__more-stories__carousel__label__category {
  font-size: 32px;
  color: #cc6434;
  border-bottom: 2px solid lightgray;
  padding-top: 40px;
  padding-bottom: 10px;
}

@media (min-width: 900px) {
  .landing-page__more-stories__carousel__label__category {
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 52px;
  }
}

.landing-page__more-stories__carousel__label__title {
  font-size: 1.25em;
  padding-top: 20px;
  color: #1f7f9b;
  transition: 0.5s ease;
}

@media (min-width: 600px) {
  .landing-page__more-stories__carousel__label__title {
    font-size: 1.5em;
    padding-top: 20px;
    color: #1f7f9b;
    transition: 0.5s ease;
  }
}

@media (min-width: 900px) {
  .landing-page__more-stories__carousel__label__title {
    margin-top: -60px;
    padding-top: 0;
    font-size: 2em;
  }
}

.landing-page__more-stories__carousel__label__title:hover {
  color: #cc6434;
  /* border-bottom: 2px solid #cc6434; */
}

/*! For Carousel - make less hacky */

#slider {
  /* position: relative; */
  width: 200px;
  height: 300px;
  margin: 50px auto 0;
  font-family: "Helvetica Neue", sans-serif;
  perspective: 900px;
  transform-style: preserve-3d;
}
@media (min-width: 600px) {
  #slider {
    position: relative;
    width: 300px;
    height: 450px;
    margin: 60px auto 30px;
    perspective: 1440px;
  }
}
@media (min-width: 900px) {
  #slider {
    position: relative;
    width: 400px;
    height: 600px;
    margin: 75px auto 90px;
    perspective: 1440px;
  }
}

#slider img {
  width: 100%;
  height: 100%;
}

input[type="radio"] {
  position: relative;
  top: 1108%;
  left: 64%;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
  display: none;
}

input[type="radio"]:nth-child(5) {
  margin-right: 0px;
}

input[type="radio"]:checked {
  opacity: 1;
}

#slider label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
  z-index: 5;
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(75%, 0, -400px);
}

/* show slide 3 on the left of 1 when 1 is active */
#s1:checked ~ #slide3 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-75%, 0, -400px);
}

/* Next to Next Slide */
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(30%, 0, -450px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
  transform: translate3d(75%, 0, -450px);
}

/* Previous Slide */
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-75%, 0, -400px);
}

.landing-page__ivf {
  padding: 60px 0 0;
}

@media (min-width: 900px) {
  .landing-page__ivf {
    padding: 90px 0 0;
  }
}

.landing-page__ivf__container {
  height: auto;
  width: 100%;
  max-width: 1440px;
  background-color: rgba(199, 199, 199, 0.3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  align-content: center;
}

@media (min-width: 900px) {
  .landing-page__ivf__container {
    flex-wrap: nowrap;
    height: 550px;
  }
}

.landing-page__ivf__copy {
  display: flex;
  align-self: center;
  flex-direction: column;
  height: 70%;
  width: 100%;
  padding: 0 30px;
}

@media (min-width: 900px) {
  .landing-page__ivf__copy {
    width: 40%;
  }
}

.landing-page__ivf__title {
  font-size: 1.5em;
  padding: 30px 0 20px;
  color: #1f7f9b;
}

@media (min-width: 900px) {
  .landing-page__ivf__title {
    font-size: 2.75em;
    padding: 0;
  }
}

.landing-page__ivf__subtitle {
  font-size: 1.75em;
  line-height: 1.25em;
  padding-bottom: 30px;
}

@media (min-width: 900px) {
  .landing-page__ivf__subtitle {
    font-size: 1.75em;
    line-height: 1.5em;
    padding-top: 45px;
  }
}

.landing-page__ivf__image-wrapper {
  width: 90%;
  max-height: 550px;
  margin: 0 auto;
  padding-bottom: 30px;
}

@media (min-width: 900px) {
  .landing-page__ivf__image-wrapper {
    width: 57%;
    padding-bottom: 0;
  }
}

.landing-page__ivf__image {
  height: 100%;
  width: 100%;
}

.landing-page__infograph {
  padding: 60px 0;
}
@media (min-width: 600px) {
  .landing-page__infograph {
    padding: 60px 0 0;
    height: 1000px;
  }
}

@media (min-width: 900px) {
  .landing-page__infograph {
    padding: 160px 0 0;
    height: 1200px;
  }
}

@media (min-width: 1200px) {
  .landing-page__infograph {
    height: 1550px;
  }
}

.landing-page__infograph__container {
  height: auto;
  max-width: 1440px;
  margin: 0 auto;
  max-height: 400px;
}
@media (min-width: 600px) {
  .landing-page__infograph__container {
    height: 100%;
  }
}
@media (min-width: 900px) {
  .landing-page__infograph__container {
    /* max-height: 995px; */
  }
}
.landing-page__culture__container {
  padding-top: 45px;
}
@media (min-width: 900px) {
  .landing-page__culture__container {
    padding-top: 60px;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.landing-page__culture__image-wrapper {
  height: auto;
  width: 100%;
}

@media (min-width: 900px) {
  .landing-page__culture__image-wrapper {
    height: 800px;
  }
}

.landing-page__story-link {
  width: auto;
  display: block;
  padding-top: 15px;
  text-align: center;
  color: #1f7f9b;
  font-size: 1.5em;
}

@media (min-width: 900px) {
  .landing-page__story-link {
    font-size: 2em;
    padding-top: 15px;
  }
}

.landing-page__graduation {
  height: 300px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto 90px;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  background-blend-mode: lighten;
}

@media (min-width: 600px) {
  .landing-page__graduation {
    margin: 30px auto;
  }
}

@media (min-width: 900px) {
  .landing-page__graduation {
    height: 400px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .landing-page__graduation {
    margin: 75px auto;
  }
}
@media (min-width: 1400px) {
  .landing-page__graduation {
    margin: 300px auto 60px;
  }
}

.landing-page__graduation__content {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
}

.landing-page__graduation__title {
  color: #1f7f9b;
  font-size: 1.5em;
  line-height: 1.25em;
  padding-bottom: 15px;
}

@media (min-width: 900px) {
  .landing-page__graduation__title {
    font-size: 3em;
  }
}
.landing-page__graduation__subtitle {
  width: 80%;
  padding-bottom: 45px;
  margin: 0 auto;
  font-size: 1.25em;
  color: black;
}

@media (min-width: 900px) {
  .landing-page__graduation__subtitle {
    font-size: 1.5em;
  }
}

.landing-page__graduation__cta {
  background-color: #cc6434;
  color: white;
  font-size: 1.25em;
  padding: 10px 20px;
  margin: 0 auto;
}
@media (min-width: 900px) {
  .landing-page__graduation__cta {
    font-size: 1.5em;
    padding: 10px 30px;
    max-width: 300px;
  }
}
.landing-page__graduation__cta:hover {
  color: white;
}

canvas {
  position: relative;
  top: -290px;
  z-index: -1;
  max-width: 1440px;
  height: 600px !important;
}

@media (min-width: 600px) {
  canvas {
    position: relative;
    top: -260px;
    z-index: -1;
    max-width: 1440px;
    height: 600px !important;
  }
}
@media (min-width: 900px) {
  canvas {
    position: relative;
    top: -290px;
    z-index: -1;
    max-width: 1440px;
    height: 600px !important;
  }
}
